/*ACA VAN LOS ESTILOS PERSONALIZADOS */
.logotipo {
height: 70px;
margin-left: 50px;

}
/* NAVEGACION REDES SOCIALES*/
nav.redes-sociales {
  text-align: center;
 /*  background-color: #f8f9fa;*/
}

nav.redes-sociales a {
  color: #000;
  font-size: 1.5em;
 
  width: 20px;
  margin: 10px 5px;;
}

nav.redes-sociales a:last-child {
  margin-right: 0;
}

/*
.color-nav {
  background-color: #1bb1dc !important;
}
*/


/* Services Section
--------------------------------*/
#services {
  padding: 60px 0 40px 0;
}

#services .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#services .box:hover {
  transform: scale(1.1);
}

#services .icon {
  margin: 0 auto 15px auto;
  padding-top: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#services .icon i {
  font-size: 36px;
  line-height: 1;
}

#services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#services .title a {
  color: #111;
}

#services .box:hover .title a {
  color: #1bb1dc;
}

#services .description {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
}


.color-generosidad{
  background-color: #d7e9ee;
  opacity: 80%;
}
 




  .copyrigh{
    background-color: #f8f9fa;
    font-size: 18px;

  }





